<p>
<code>ember-tracker</code> is a simple <a href="https://emberjs.com">Ember</a> addon which easily implements popular tracking software such as {{#link-to "google-analytics"}}Google Analytics{{/link-to}} and {{#link-to "tealium"}}Tealium{{/link-to}}.
</p>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Installation</strong>
	</div>
	<div class="panel-body">
		<p>Install the addon simply by using the following command.</p>
		<pre>ember install ember-tracker</pre>
	</div>
</div>
{{outlet}}
