<p>
  <code>ember-tracker</code> is a simple 
  <a 
    href="https://emberjs.com"
  >
    Ember
  </a> 
  addon which easily implements popular tracking software such as {{#link-to "google-analytics"}}Google Analytics{{/link-to}} and {{#link-to "tealium"}}Tealium IQ{{/link-to}}.
  <br>
  <p>
    Out of the box you'll get:
    <h5>
      <strong>Google Analytics</strong>
    </h5>
    <ul>
      <li>Pageviews - Every transition will be captured and sent as a page view!</li>
      <li>Events - Track what your users are doing by using the `events` events API.</li>
      <li>User Timing - Gague performance with the `timing` API.</li>
      <li>Social - Track shares, tweets, etc with the `social` (network) API.</li>
      <li>Custom page/titles and "before analytics" callback.</li>
    </ul>
    <h5>
      <strong>Tealium</strong>
    </h5>
    <ul>
      <li>Support for dev, qa and production environments..</li>
    </ul>
  </p>
</p>
<h4>Installation</h4>
<p>
  Install the addon simply by using the following command.
</p>
<pre>ember install ember-tracker</pre>
{{outlet}}
<h4>Now what?</h4>
<ul>
  <li>Learn how to setup and start tracking pageview's or sending events with {{#link-to "google-analytics"}}Google Analytics{{/link-to}}.</li>
  <li>Or, learn how to setup {{#link-to "tealium"}}Tealium IQ{{/link-to}}.</li>
</ul>
<h4>FastBoot Ready</h4>
<p>
  Ember Tracker is now 
  <a 
    href="https://ember-fastboot.com" 
    rel="nofollow"
  >
    FastBoot
  </a> 
  ready!
</p>
