<p>
<code>ember-tracker</code> is a simple <a href="https://emberjs.com">Ember</a> addon which easily implements popular tracking software such as {{#link-to "google-analytics"}}Google Analytics{{/link-to}} and {{#link-to "tealium"}}Tealium{{/link-to}}.
</p>
<h4>Installation</h4>
<p>Install the addon simply by using the following command.</p>
<pre>ember install ember-tracker</pre>
{{outlet}}
<h4>Now what?</h4>
<ul>
	<li>Learn how to setup and start tracking pageview's or sending events with {{#link-to "google-analytics"}}Google Analytics{{/link-to}}.</li>
</ul>
